@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

:root {
  /* colors */
  --primary-color: #ff6b00;
  --secundary-color: #1c1a19;
  --header-color: #3c3a39;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General rules */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  background-color: var(--primary-color);
  border: solid 1px #fff;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  border-style: none;
  transition: 0.6s;
  padding: 1.2rem;
}

.btn:hover {
  opacity: 0.8;
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  border-style: none;
}

/* Starts Header Section */

.header {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
}

.logo a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #fff;
}

@media screen and (max-width:480px) {

  .nav-items {
    display: none;
  }

}

@media screen and (min-width:992px) {

  .nav-items {
    display: flex;
    justify-content: flex-end;
  }

  .nav-items li {
    color: #fff;
    font-family: Inter, "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem;
  }

  .burgernav {
    display: none;
  }

  .logo {
    padding-left: 10rem ;
  }

}

/* Starts Hero Section  */

#hero-main {
  background-color: var(--secundary-color);
  background-image: url(src/Illustration.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 102.8% 120%;
  min-height: 100%;
}

.section-2 {
  display: flex;
  flex-direction: column;
}

.desktop-img {
  display: none;
}

.section-container {
  margin-inline: 2.4rem;
}

.section-container h1 {
  color: var(--primary-color);
  font-family: "Crete Round", sans-serif;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: 0.37px;
  font-weight: 400;
  margin-top: 12rem;
}

.section-container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  display: flex;
  align-items: center;
  color: #fff5e1;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.section-container p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 1.2rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.section-2 .icon {
  /* margin: 2.18rem 16.1rem 13rem 3.5rem; */
  margin-inline: 2.2rem;
  margin-bottom: 13rem;
}

.icon ul {
  display: flex;
}

.icon li {
  margin-right: 2.29rem;
}

@media screen and (min-width: 992px) {

#hero-main {
  background-color: var(--secundary-color);
  background-image: url(src/Illustration-header-desktop.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 0%;
  min-height: 100%;
}

  .hero-container {
    flex-direction: row-reverse;
    width: 60vw;
    margin-top: 18rem;
    /* margin-top: 25rem; */
  }

  .icon ul {
    flex-direction: column;
    margin-top: 4rem;
    padding: 1.5rem;
  }

  .icon li {
    margin-bottom: 1.8rem;
  }

  .section-2 h1 {
    margin:0;
  }

  .section-2 p {
    margin-bottom: 25rem;
    width: 90%;
  }

  .section-2 h2 {
    color:#fff
  }

}

/* Start Works Section */

.my-works {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
}

.recent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent h2 {
  font-family: "Crete Round", sans-serif;
  font-size: 4rem;
  line-height: 5.2rem;
  align-items: center;
  color: #1c1a19;
  margin-block: 120px 24px;
  font-weight: 400;
}

.border-recent {
  border-bottom: 1px solid #606163;
  margin-bottom: 3.4rem;
  width: 80%;
  align-content: center;
}

@media screen and (min-width:992px) {
  .recent {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 80%; */
    text-align: start;
    margin-block: 14rem;
  }

  .recent h2 {
    margin: 0;
    color: #091e42 ;
  }

  .border-recent {
    margin: 0;
    width: 60vw;
    margin-left: 2.4rem;
  }

}

/* Cards myWorks Section */

.works-section-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-auto-rows: minmax(38rem, auto);
  gap: 2.4rem;
}

.others {
  position: relative;
}

.wrapper .others {
  margin-left: 2rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.feat-text {
  height: auto;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 1.2rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.others .info {
  width: 90%;
}

.others h3,
.others ul,
.others p {
  margin-inline: 1.6rem;
}

.others img {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 90%;
}

.others h3 {
  font-family: "Crete Round", "Roboto", sans-serif;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #fff;
  flex: none;
  text-align: start;
  z-index: 2;
  margin-top: 8.4rem;
  font-weight: 400;
}

.others .feat-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  z-index: 1;
  text-align: start;
  margin-top: 1.2rem;
  width: 80%;
}

.others .btn {
  align-items: flex-end;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.feature-details {
  display: flex;
  flex-direction: column;
}

.feature-details img {
  margin-inline: 2.4rem;
}

.feature-details h3 {
  height: auto;
  font-family: "Crete Round", serif;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #091e42;
  font-weight: 400;
}

.feature-details .info {
  width: 90%;
  justify-content: center;
  align-items: flex-start;
  margin-inline: 2.4rem;
  text-align: start;
}

.tech-stack {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
}

.tech-stack li {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  border: solid 1px #8993a4;
  color: #091e42;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: 1.2rem;
  padding: 1rem 1.2rem;
}

.feature-details .tech-stack {
  justify-content: flex-start;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.2rem;
}

.feature-details .tech-stack li {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  border: solid 1px #8993a4;
  color: #091e42;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: 1.2rem;
}

.feature-details img {
  width: 90%;
}

.others .tech-stack li {
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  margin-bottom: 1rem;
}



@media screen and (min-width:992px) {

  .wrapper {
    grid-auto-rows: minmax(50rem, auto);
  }

  .feature-details {
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

.feat-text {
  margin: 0;
}

}

/* Start About Section */

.about-container {
  display: flex;
  flex-direction: column;
  /* background-color: #1c1a19; */
  background-color: var(--secundary-color);
}

.about-section {
  background-repeat: no-repeat;
  background-image: url(src/Group.svg);
  background-size: auto;
  background-position: right 90%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 12rem;
}

.about-1 {
  width: 90%;
}

.about-section h2 {
  color: var(--primary-color);
  font-family: "Crete Round", sans-serif;
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 8.8rem;
  letter-spacing: 0.37px;
  margin-bottom: 2.4rem;
  text-align: justify;
}

.about-1 p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #f4f5f7;
  margin-bottom: 2.4rem;
}

.about-container .btn {
  margin-bottom: 22.1rem;
}

@media screen and (min-width:992px) {

  .about-container {
    background-color: #262626;
  }

  .about-section {
    background-image: url(src/Frame-about-section.svg);
    background-repeat: no-repeat;
    background-position: right 0%;
    background-size: 50%;
    justify-content: start;
    align-items: start;
  }

  .about-1 {
    width: 50%;
    margin-left: 14rem;
  }

  .about-1 p {
    width: 70%;
  }

  /* border */
}

/* skills sub section */

.skills {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-block: 13.6rem;
}

.skills-macro {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2.2rem;
}

.key-skills {
  width: 100%;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 4.4rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.2rem;
}

.key-skills h3 {
  padding-left: 1rem;
}

.skills-feat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  font-size: 1.8rem;
  line-height: 4.3rem;
  align-items: baseline;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .skills {
    display: flex;
    flex-direction: row;
    /* grid-template-rows: repeat(3,1fr); */
    justify-content: space-evenly;
    align-items: baseline;
  }

  .skills-macro {
    justify-content: baseline;
    align-items: flex-start;
  }

  .skills-feat li {
    text-align: left;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 3rem;
  }
}

/* Start Form Section */

.form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-a {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
}

.form-desc {
  font-weight: 700;
  line-height: 4.4rem;
  font-size: 3.2rem;
  text-align: center;
  color: #172b4d;
  width: 84%;
  margin-inline: 2.4rem;
  align-content: center;
}

.form-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

input,
textarea {
  margin-left: 2.4rem;
}

input {
  width: 90%;
  height: 2rem;
  border-top-style: none;
  border-inline-style: none;
  padding: 1.2rem;
  font-size: 1.5rem;
  margin-top: 3rem;
  color: #979493;
}

textarea {
  padding: 0.7rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #3c3a39;
  resize: vertical;
  background-color: #fbf8f7;
  margin-top: 3rem;
  border: none;
  width: 92%;
  height: 11.4rem;
}

.btn-center {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 12.4rem;
}

.form-section hr {
  width: 100%;
}

.icon-form {
  width: 100%;
  margin-block: 2.7rem;
}

.icon-form ul {
  padding: 0;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 992px) {
  .form-a {
  flex-direction: row;
  width: 90%;
  align-content: flex-start;
  padding-top: 2rem;
  /* height: 50%; */
  }

  .form-desc {
    width: 40%;
    /* align-content: flex-start; */
    text-align:left;
    color: #262626;
    padding-top: 2rem;
  }

  #my-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    align-content: start;
  }

  .btn-center {
    display: block;
    margin: 0;
    margin: 2.4rem 0 12.4rem 2.4rem;
}
