@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.all-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
  height: 72px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  margin-left: 24px;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.section-2 {
  background-color: #1c1a19;
  background-image: url(src/Illustration.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 35% 60%;
  height: 590px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

.section-container {
  margin-left: 24px;
}

h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-top: 120px;
  margin-bottom: 12px;
  animation: toRight 2s ease-in;
}

@keyframes toRight {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 0;
  }
}

.section-2 h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-bottom: 12px;
}

.section-2 p {
  width: 80%;
  left: 24px;
  top: 295px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icon ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon-form {
  width: 100%;
}

.icon-form ul {
  padding: 0;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.my-works {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.my-works h2 {
  width: 100%;
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 24px;
}

.border-recent {
  border-bottom: 1px solid #606163;
  margin-bottom: 34px;
  width: 90%;
}

.recent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.works-section-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: flex-start;
  max-width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  max-width: 100%;
  font-weight: bold;
  background-color: #ff6b00;
  border: solid 1px #fff;
  color: #fff;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  border-style: none;
  transition: 0.6s;
}

.btn:hover {
  opacity: 0.8;
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  border-style: none;
}

.projects .btn {
  width: 100%;
}

.tech-stack-1 {
  display: flex;
  justify-content: flex-start;
  left: 12px;
  top: 10px;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-top: 5px;
}

.tech-stack-1 li {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  border: solid 1px #8993a4;
  color: #091e42;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  margin-right: 8px;
}

.tech-stack-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
}

.tech-stack-2 li {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  border: solid 1px #8993a4;
  background-color: rgb(255, 246, 246, 0.3);
  font-family: Inter, "Roboto", sans-serif;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  margin-inline: 10px;
  text-align: start;
}

.feature {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
}

.feature-img img {
  cursor: pointer;
  transition: 0.8s;
}

.feature-img img:hover {
  transform: scale(1.1);
}

.feature-details h3 {
  width: 80%;
  height: auto;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.feat-text {
  width: 80%;
  height: auto;
  top: 48px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 30px;
  text-align: start;
}

.about-section .btn {
  align-self: flex-start;
}

.projects {
  background-image: url(src/Img\ Placeholder-proj.svg);
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-position: center;
  background-size: contain;
  width: 327px;
}

.projects h3 {
  width: 80%;
  height: 81px;
  left: 16px;
  top: 8px;
  font-family: "Crete Round", "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  text-align: start;
  flex-grow: 0;
  margin-top: 94px;
  z-index: 3;
}

.projects .feat-text {
  width: 80%;
  height: 87px;
  left: 16px;
  top: 101px;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 10px 10px;
  z-index: 2;
  text-align: start;
}

.proj-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 50px;
}

.about-section {
  background-repeat: no-repeat;
  background-color: #1c1a19;
  top: 4137px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 60px;
}

.about-section h2 {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin-top: 120px;
}

.about-section p {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 148px;
  left: 24px;
  top: 223px;
}

.about-section hr {
  width: 60%;
  color: #fff;
  margin-top: 220px;
}

.font_a {
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  text-align: start;
}

.skills {
  background-color: #1c1a19;
  color: #f4f5f7;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 131px 201px 131px 131px;
}

.key-skills {
  width: 100%;
  height: 24px;
  margin-left: 50%;
  top: 12px;
  font-family: "Inter", "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.key-skills h3 {
  width: 60%;
  height: 24px;
  left: 42px;
  top: 8px;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.skills-macro {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  align-items: center;
  text-align: center;
}

.skills-feat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  top: 12px;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 43px;
  align-items: baseline;
  text-align: center;
  color: #fff;
  margin-left: 50px;
  margin-bottom: 24px;
}

.about-btn {
  padding: 10px;
  margin-bottom: 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
}

.form-section {
  margin-block: 10%;
  display: flex;
  align-items: center;
}

.form-desc {
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 42px;
  font-size: 38px;
  text-align: center;
  color: #262626;
  margin: 24px;
  width: 90%;
  height: 216px;
}

.form-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px 0;
  width: 100%;
}

.form-a {
  display: flex;
}

input {
  width: 90%;
  height: 20px;
  border-top-style: none;
  border-inline-style: none;
  padding: 12px;
  font-size: 15px;
  margin-top: 30px;
  color: #979493;
  font-family: Inter, sans-serif;
}

textarea {
  padding: 7px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  resize: vertical;
  background-color: #fbf8f7;
  margin-top: 30px;
  border: none;
  width: 92%;
  height: 114px;
}

.btn-center {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.form-section hr {
  width: 100%;
}
